body {
  margin: 50px;
  background: #ededed;
  font-family: 'Nanum Gothic', sans-serif;
}
.clear-fix::after {
  content: '';
  display: block;
  clear: both;
}

.re_cast {
  position: relative;
  width: 753px;
  padding: 10px 11px;
  background: #fff;
}
/* Title */
.re_cast h3 {
  margin-bottom: 21px;
  border-bottom: 2px solid #454545;
}
.re_cast h3 img {
  padding: 0px 0 10px 12px;
}
/* Post */
.cont {
}
/* Left post */
.re_cast ul.left {
  float: left;
  margin: 0 23px;
}
.re_cast ul.left li {
  border: 1px solid #000;
  width: 394px;
  height: 85px;
}
.re_cast ul li:not(:last-child) {
  margin-bottom: 22px;
}
/* Middle line */
.re_cast .line {
  float: left;
  display: block;
  width: 1px;
  height: 197px;
  background: #ededed;
}
/* Right post */
.re_cast ul.right {
  float: right;
}
.re_cast ul.right li {
  border: 1px solid #000;
  width: 278px;
  height: 50px;
}
.re_cast ul.right li:not(:last-child) {
  margin-bottom: 18px;
}
/* Post contents */
.re_cast ul li a::after {
  content: '';
  clear: both;
  display: block;
}
.re_cast ul li:not(:last-child) {
  margin-bottom: 22px;
}
.re_cast ul.right li:not(:last-child) {
  margin-bottom: 18px;
}
.re_cast ul li a img {
  float: left;
  width: 77px;
  margin-right: 14px;
  padding: 3px;
  border: 1px solid #ededed;
}
.re_cast ul.right li a img {
  width: 42px;
  margin-right: 10px;
}
.re_cast ul li a strong {
  margin-top: 6px;
  line-height: 1.5;
}
.re_cast ul.right li a strong {
  margin-top: 0;
}
.re_cast ul li a em {
  margin-top: 2px;
  margin-bottom: 6px;
  color: #999;
}
.re_cast ul.right li a em {
  margin-bottom: 0;
}
.re_cast ul li a span {
  line-height: 1.5;
}

/* page nav */
.page {
  position: absolute;
  top: 13px;
  right: 28px;
}
.page > * {
  float: left;
}
.page span {
  margin-right: 6px;
  line-height: 16px;
  font-size: 10px;
  font-weight: 700;
}
.page .next {
  margin-left: -1px;
}
.cast_img {
  position: absolute;
  top: 50px;
  left: 50px;
  opacity: 30%;
}
