@charset 'utf-8';
/* 웹폰트 설정 */

/* reset */
body {
    font:normal 16px 'Roboto', sans-serif;
	line-height:1.3;
	color:#666666;
	background-color:#fff;
	margin:0;
	padding:0;
}
h1, h2, h3, h4, h5, h6 {font-size:1em;}
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption {
	margin:0;
	padding:0;
	/* box-sizing: border-box; */
}
li {list-style:none;}
a {text-decoration:none;}

/* 공통요소 */

/* card 기본형 */

/* card avata */

/* card avata top */
