@charset 'utf-8';

body {
  background: #ededed;
  padding: 20px;
}
h1 {
  font-size: 24px;
  border-bottom: 3px solid #000;
  padding-bottom: 10px;
}
pre {
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  transition: transform 1s ease-in-out;
}
pre.on {
  transform: rotate(360deg);
}
