@charset "utf-8";
/* reset */

/* layout */
.header {
}
.inner {
  height: 130px;
  width: 940px;
  margin: auto;
  background-color: #e4e4e4;
}
.header > .extra {
  height: 10px;
  background-color: #ededed;
}
.middle {
  position: relative;
  width: 940px;
  margin: auto;
}
.aside {
  float: left;
  width: 120px;
  background-color: #ededed;
}
.breadcrumbs {
  position: absolute;
  top: 0;
  right: 0;
}
.contents {
  padding: 80px 0 100px 180px;
}
.footer {
  clear: both;
  border-top: 1px solid #ededed;
}

/* header */

/* aside */

/* breadcrumbs */

/* footer */

/* contents common */

/* board */

/* 채용 > 입사지원 > 공지사항 */
