@charset "utf-8";

/* layout */
.header {}
.inner {height:130px; width:940px; margin:auto; background-color:#e4e4e4;}
.header > .extra {height:10px; background-color:#ededed}
.middle {position:relative; width:940px; margin:auto;}
.aside {float:left; width:120px; background-color:#ededed}
.breadcrumbs {position:absolute; top:0; right:0;}
.contents {padding:80px 0 100px 180px;}
.footer {clear:both; border-top:1px solid #ededed;}

/* header */

/* aside */

/* breadcrumbs */

/* footer */

/* contents common */

/* board */
.boardlist table {}
.boardlist .num {text-align:center; font-family:verdana; font-size:11px;}
.boardlist .date {font-family:verdana; font-size:11px;}
.boardlist thead th {padding:10px 0; text-align:left; border-top:2px solid #444547; border-bottom:1px solid #919191;}
.boardlist tbody td {padding:7px 0; border-bottom:1px solid #e4e4e4;}
.boardlist tbody td a {color:#444547}
.boardlist tbody td a:hover {color:#55AAEA; text-decoration:underline;}
.boardlist tbody td a strong {color:#55AAEA;}
.boardlist tbody td a img {vertical-align:middle; margin:0 0 2px 3px;}
.pagenav {text-align:center; font-family:verdana; font-size:11px; margin:14px 0 0;}
.pagenav img {vertical-align:middle; margin:0 0 1px;}
.pagenav a {color:#8E9094; padding:0 3px; margin:0 1px; }
.pagenav a:hover {color:#55AAEA; text-decoration:none;}
.pagenav strong {color:#55AAEA; margin:0 1px; padding:0 3px;}

/* 채용 > 입사지원 > 공지사항 */






