@charset "utf-8";

html {
	font-size:100%;
}
body {
	font:normal 12px "애플고딕", AppleGothic, "돋움", dotum, Arial, Verdana, sans-serif;
	line-height:1.3;
	color:#666666;
	background-color:#fff;
	margin:0;
	padding:0;
}
h1, h2, h3, h4, h5, h6 {
	font-size:1em;
}
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption {
	margin:0;
	padding:0;
}
img {border:none;}
ul, ol {
	list-style:none;
}
a:link, a:visited {
	color: #666666;
	text-decoration:none;
}
a:hover {
	color: #666666;
	text-decoration:underline;
}


