body {
  margin: 50px;
  background: #ededed;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 12px;
}

/* COMMON */
.active {
  font-weight: 700;
}
.visible {
  display: block;
}

/* Opencast */
.opencast {
  position: relative;
  width: 593px;
  height: 191px;
  padding: 20px 0 33px;
  border: 1px solid #000;
  background: #fff;
}
/* Opencast_top */
.opcast_top {
  padding: 0 15px 11px;
  border-bottom: 1px solid #ededed;
}
.opcast_top h3 img {
  float: left;
  margin-right: 8px;
}
.opcast_top ul.category {
  display: flow-root;
}
.opcast_top ul.category li {
  float: left;
}
.opcast_top ul.category li:not(:last-child):after {
  content: '';
  float: left;
  display: block;
  width: 1px;
  height: 10px;
  margin: 1px 5px 1px 3px;
  background: #ededed;
}
.opcast_top ul.category li a {
  float: left;
  line-height: 1;
  font-size: 11px;
}
.opcast_top ul.category li a:hover {
  text-decoration: underline;
}
/* Castlist */
.caslist {
  position: absolute;
  top: 14px;
  right: 15px;
  width: 111px;
  height: 22px;
  border: 1px solid #ededed;
}
.caslist a {
  display: block;
  padding: 5px 8px;
  line-height: 1;
}
.caslist a.btn::after {
  content: '';
  float: right;
  display: block;
  width: 5px;
  height: 12px;
  background: center no-repeat url('../images/bul_down.gif');
}
.caslist ul {
  display: none;
  position: absolute;
  top: 100;
  left: -1px;
  width: 100%;
  border: 1px solid #ededed;
}
.caslist ul li a:hover {
  color: #1ec800;
  background: #ededed;
}
