@charset "utf-8";

html {
  font-size: 100%;
}
body {
  line-height: 1.3;
  color: #666666;
  background-color: #fff;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
dl,
dt,
dd,
ul,
ol,
li,
form,
fieldset,
blockquote,
address,
table,
thead,
tbody,
tfoot,
tr,
td,
caption {
  margin: 0;
  padding: 0;
}
img {
  border: none;
}
ul,
ol {
  list-style: none;
}
/* Append reset property */
img,
em,
span,
strong {
  display: block;
}
a {
  text-decoration: none;
  color: inherit;
}
strong,
em,
i {
  font-style: normal;
  font-weight: normal;
}
